/* CSS files add styling rules to your content */

body {
    font-family: 'Arial', sans-serif;
    background-color: #B6B4C2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #EFEEFA;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    gap: 7px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    padding: 10px;
    background-color: #3E5C3F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #86C688;
  }
  
  h1 {
    color: #444449;
  }
  
  h4 {
    color: #444449;
  }
  
  p {
    color: #444449;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font family */
  }
  
  
  
  